@page
@model Net.Core.FirstProject.App.Pages.Books.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Books</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Genre</th>
            </tr>
        </thead>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Name</td>
                <td>@book.Description</td>
                <td>@book.Genre</td>
            </tr>
        }
    </table>
</div>